.header nav {
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: calc(1126px - 30px);
    margin-inline: auto;
    padding-block: 23px;
    padding-inline: 15px;
}

.header__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
    color: inherit;
}

.header__title:focus {
    outline: 2px solid #2d3135;
    outline-offset: 4px;
}
