.main {
    display: grid;
    grid-template-areas: ". cards .";
    grid-template-columns: auto minmax(300px, 1116px) auto;
}

.wrapper {
    display: grid;
    grid-area: cards;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 33px;

    padding-inline: 10px;
}
