.top {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
}

.name {
    font-weight: 600;
    color: var(--black-30);
}

.email {
    color: var(--black-20);
}

.body {
    margin-top: 10px;
    color: var(--black-30);
}
